:root {
    --card-bgcolor: #ffffffe6;
    --tag-bgcolor: grey;
    --tag-color: #fff;
    --card-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.account {
    display: grid;
    grid-template-areas: "image data"
                         "info data";
    gap: 10px;
    max-width: 700px;
    width: 95%;
    margin: auto;
    padding: 32px 35px;
    background-color: var(--card-bgcolor);
    border-radius: 8px;
    grid-template-columns: 200px auto;
    grid-template-rows: 200px auto;
    text-align: center;
    box-shadow: var(--card-shadow);
}

.info {
    grid-area: info;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.fullname {
    font-size: 1.1rem;
    font-weight: 500;
}

.tags {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
}

.tags > span {
    background-color: var(--tag-bgcolor);
    color: var(--tag-color);
    font-weight: 500;
    padding: 3px 5px;
    border-radius: 5px;
    font-size: 10pt;
}

.profile-img {
    grid-area: image;
    max-width: 200px;
    max-height: 200px;
    aspect-ratio: 1 / 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}

.data {
    grid-area: data;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Chart */
.chart {
    width: 90%;
    margin: auto;
    aspect-ratio: 2 / 1;
    background-image: url("https://www.contextures.com/images/charts/clusterstackchart09.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border: 1px solid black;
}

.chart__overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

