.search {
    text-align: center;
    width: 100%;
}

.search__input {
    padding: 5px 8px;
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
    max-width: 400px;
    width: 95%;
}

.search__input:focus {
    outline: none;
}