:root {
    --more-info-color: rgb(21, 167, 21);
    --see-collab-color: rgb(12, 114, 151);
}

.cards {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: space-evenly;
    padding: 0 5px;
}
